<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recent</title>
  <link rel="stylesheet" href="../static/css/styles.css" />
</head>
<body>
  <header class="navbar">
    <div class="navbar__brand">
      <img class="navbar__logo" src="../static/logo.svg" alt="The Microblog logo" />
      <a href="/" class="navbar__link">Microblog</a>
    </div>

    <ul class="navbar__navigation">
      <li class="navbar__navigation-item">
        <a href="/recent" class="navbar__link">Recent</a>
      </li>
      <li class="navbar__navigation-item">
        <a href="/calendar" class="navbar__link">Calendar</a>
      </li>
    </ul>
  </header>
  <main class="main">
    <section class="development-info">
      <h3>Recent Page Under Development</h3>
      <p>We are currently working on this page. Please check back later for updates.</p>
    </section>
  </main>

</body>
</html>